/*Nicholas Boni
15 May 2023*/

/*-------------------------------------*/
/*-------------------------------------*/
/*Sitewide style*/
/*-------------------------------------*/
/*-------------------------------------*/

html{
	scroll-behavior: smooth;
}

a{
	color: #5c72ff;
}

h1{
	margin:0px;
	padding-left: 10%;
	font-family:"Arial",sans-serif;
	background-color:black;
	color:white;
}

h2{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	text-align: left;
}

p{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 14pt;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
	text-align: justify;
}

blockquote{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 14pt;
	margin-top: 5%;
	margin-left: 20%;
	margin-right: 15%;
	margin-bottom: 5%;
	text-align: justify;
}

body{
	margin:0;
}

nav{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 14pt;
	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 5%;
}

.block-photo{
	width: 100%;
	height: auto;
	margin: 0;
	display: block;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Icons*/
/*-------------------------------------*/
/*-------------------------------------*/

.nav-icon{
	position: absolute;
	top: 35px;
	left: 15px;
	width: 50px;
	height: 50px;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Index style*/
/*-------------------------------------*/
/*-------------------------------------*/

/*Animations*/
@keyframes fade-out{
	from{opacity: 100%}
	to{opacity: 0%}
}

@keyframes fade-in{
	from{opacity: 0%}
	to{opacity: 100%}
}

.landing-img{
	display: block;
	content: url(https://nicholasboni.com/images/index/orangesky.jpg);
	width: 100%;
	height: auto;
}

.orange-sky{
	width: 100%;
	height: auto;
}

.landing-text{
	position: fixed;
	color: white;
	text-align: center;
	animation-iteration-count: 1;
	font-family:'Baskerville Old Face',Times,serif; 
	font-size: xxx-large;
}

.site-name{
	top: 35%;
	left: 55%;
	animation-name: fade-out;
	animation-delay: 3s;
	animation-duration: 3s;
	animation-fill-mode: forwards;
}

.landing-link{
	animation-name: fade-in;
	animation-delay: 1.0s;
	animation-fill-mode: both;
}

#photos-link{
	top: 40%;
	left: 10%;
	animation-duration: 0.5s;
}

#writing-link{
	top: 60%;
	left: 35%;
	animation-duration: 0.8s;
}

#music-link{
	top: 51%;
	left: 60%;
	animation-duration: 1.2s;
}

#about-link{
	top: 70%;
	left: 85%;
	animation-duration: 1.5s;
}

.index-link{
	color: white;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Photo page style*/
/*-------------------------------------*/
/*-------------------------------------*/

.trash-world{
	display: block;
	max-height: 100vh;
}

.photo-page-link{
	position: absolute;
	font-family: "Baskerville Old Face",Times,serif;
	font-size: xxx-large;
	color: white;
	text-shadow: 0px 0px 3px #000000;
}

#portrait-link{
	top: 19%;
	left: 10%;
}

#snatch-the-bag-link{
	top: 31%;
	left: 10%;
}

#gridlock-link{
	top: 43%;
	left: 10%;
}

#rebels-link{
	top: 55%;
	left: 10%;
}

#biden-link{
	top: 67%;
	left: 10%;
}

#asunder-link{
	top: 79%;
	left: 10%;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Writing and Letters page style*/
/*-------------------------------------*/
/*-------------------------------------*/

.writing-links{
	margin-top: 1%;
	margin-bottom: 1%;
	margin-left: 15%;
	font-family: "Baskerville Old Face",Times,serif;
	font-size: 14pt;
}

.check-my-phone-meme{
	display: block;
	max-width: 40%;
	max-height: auto;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*Poetry style*/
/*-------------------------------------*/
/*-------------------------------------*/

.poetry{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 14pt;
	margin-left: 15%;
	text-align: left;
	white-space: pre;	
}

.poem-title{
	font-family:"Baskerville Old Face",Times,serif;
	font-size: 18pt;
	margin-top: 5%;
	margin-left: 15%;
	margin-right: 5%;
	margin-bottom: 5%;
	text-align: left;
}

/*-------------------------------------*/
/*-------------------------------------*/
/*About style*/
/*-------------------------------------*/
/*-------------------------------------*/

.about-header{
	position: absolute; 
	top: 20%;
}

.about-p{
	position: absolute; 
	top: 20%; 
	color: white; 
	text-shadow: 0px 0px 5px black;
}

.about-nav{
	position: absolute; 
	top: 63%;
	text-shadow: 0px 0px 5px black;
}